header ul{
	position:fixed;
	width:100%;
	padding: 14px;
	list-style-type: none;
	overflow: hidden;
    box-shadow: 0 0 30px black, 0 0 30px white;
	background-color: rgba(204, 204, 204, 0.7)!important;
    z-index: 100;
}
header a, header a:hover,
header img, header img:hover,
header i, header i:hover{
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
}
header a, header a:hover,
header img, header img:hover,
header i, header i:hover{
    margin-left: 10px;
}
header ul li.navbarList,
header ul li.navbarList div{
    display: inline;
}
header ul div.leftNavbarList{
    position: absolute;
    top: 23%;
    right: 65px;
}
/*  Flags  */
header ul li.leftNavbarList div img{
    width:  25px;
}
header ul li.flagList div{
    top: 10%!important;
}
/*  Icons   */
header ul li.colorMode div.open,
header ul li.colorMode.active div.close{
    display: inline;
}
header ul li.colorMode div.close,
header ul li.colorMode.active div.open{
    display: none;
}